[submodule "morse_trainer_avr"]
	path = morse_trainer_avr
	url = https://github.com/pimium/morse_trainer_avr.git
[submodule "morse_trainer_kicad"]
	path = morse_trainer_kicad
	url = https://github.com/pimium/morse_trainer_kicad.git
